
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
}

.header {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mainsection {
    display: flex;
    align-items: center;
    justify-content: center;
}


.optionsbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
    margin-right: 100px;
}

.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: black;
    border-style: groove;
    /* min-height: 606px;
    min-width: 966px;
    max-width: 966px;
    max-height: 606px; */
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    height: 606px;
    width: 966px;
}



button {
    height: 50px;
    width: 75px;
}


.wipe {
    background-color: white;
}